extends base
block append head 
    link(rel='stylesheet', href='/assets/css/style.css')
    link(rel='stylesheet', href='/assets/css/editPage.css')
block content
    .container(style="margin-top: 3dvh")
        .edit-product
            .edit-product--cover 
                form.product-cover-form
                    img.product-cover(src=`/background_img/${product.coverImage}`)
                    input.form-control.form-control-sm(type='file', id='cover', name='cover', accept='image/*')
                    button.btn.btn-primary.btn-sm.btn--change-cover(type='submit') Change picture
            .edit-product--data
                form.product-data-form
                        .row(style='margin-bottom: 25px;text-align: left;')
                            .row
                                .col-md-8.text-start
                                    .mb-3
                                        label.form-label(for='email')
                                            strong= `Seller: ${product.seller.name}`
                            .col-md-12
                                .mb-3
                                    label.form-label(for='name')
                                        strong Product name
                                    input.form-control#product-data--name(type='text', placeholder=`${product.name}`,value=`${product.name}`, name='name', required='')
                                .mb-3
                                    label.form-label(for='description')
                                        strong Description
                                    textarea.form-control#product-data--description(rows="5" cols="60" name="description" placeholder=`${product.description}`, value=`${product.description}`)
                                .mb-3
                                    label.form-label(for='endDate')
                                        strong= `End date: ${product.endDate}`
                                    br
                                    input#product-data--endDate(type='date', placeholder=`Enter new date`, name='endDate')
                                .mb-3.multiple-upload 
                                    label.form-label(for='name')
                                        strong Upload product pictures:
                                    br
                                    .dashed_upload
                                        .wrapper
                                            .drop
                                                .cont
                                                    i.fa.fa-cloud-upload
                                                    .tit
                                                        | Drag &amp; Drop
                                                    .desc
                                                        | or
                                                    .browse
                                                        | click here to browse
                                                output#list
                                                input#files(multiple='' name='files[]' type='file')
                                button.btn.btn-primary.btn-sm.btn--change-cover(type='submit') Save

