extends base

block content
    section.d-flex.d-sm-flex.d-xl-flex.justify-content-center.align-items-center.justify-content-sm-center.align-items-sm-center.justify-content-xl-center.landing-welcome(style='position: static;')
        h1.text-center.d-xl-flex.justify-content-xl-center.align-items-xl-center.bounce.animated(style='font-size: 40px;') Welcome to the <br>Auction house!
    section.landing-auctions
        .container.d-xl-flex.py-4.py-xl-5
            .row.gy-4.row-cols-1.row-cols-md-2.row-cols-xl-3.justify-content-around
                each product in products
                    .col
                        .card
                            img.card-img-top.w-100.d-block.fit-cover(style='height: 200px;' src=`/background_img/${product.coverImage}` alt=`${product.name}`)
                            .card-body.p-4
                                h4.card-title #{product.name}
                                p.card-text #{product.description}
                                .d-flex
                                    img.rounded-circle.flex-shrink-0.me-3.fit-cover(width='50' height='50' src=`/img/${product.seller.photo ? product.seller.photo + '.jpg' : 'default.png'}`)
                                    div
                                        p.fw-bold.mb-0= product.seller.name
                                        p.text-muted.mb-0 LOKACIJA - UPDATE MODELA