extends base
block append head 
  link(rel='stylesheet', href='/assets/css/style.css')
block content
    .container(style="margin-top: 3dvh")
            .pageControl
                .pageInfo
                    p= `Showing ${products.length} products out of ${resultsNumber}`
                .paginateDiv
                    .previousPage
                        img(src='./assets/img/previous-32.png')
                    p#pagesTop(data-pages=`${resultsNumber}` )
                    .nextPage
                        img(src='./assets/img/next-32.png')
            each product in products  
                .row
                    .col-md-12
                        .card.mb-3(style='max-width: 100%;')
                            .row.g-0
                                .col-md-4
                                    img.img-fluid.rounded-start(src=`/products/${product.coverImage}` alt=`${product.name}`)
                                .col-md-6
                                    .card-body
                                        h5.card-title #{product.name}
                                        p.card-text
                                        | #{product.description}
                                        p.card-text
                                            - const oneDay = 24*60*60*1000
                                            - const oneHour = 60*60*1000
                                            - let remainingStr
                                            - const remainingTime = product.endDate - Date.now()
                                            - if(remainingTime > 0) 
                                                - const remainingDays = Math.round(Math.abs(remainingTime / oneDay)) 
                                                - const remainingHours = Math.round(Math.abs(remainingTime / oneHour))
                                                - remainingStr = `${remainingDays > 1 ? `${remainingDays} days left`: `${remainingHours} hours left`}`
                                                p.text-muted.mb-0= `${remainingStr}`
                                            - if(remainingTime < 0) 
                                                p.text-muted.mb-0 Auction has ended
                                        .d-flex
                                            img.rounded-circle.flex-shrink-0.me-3.fit-cover(width='50' height='50'  src=`${product.seller.photo === 'default.png' ? 'img/default.png' : `https://res.cloudinary.com/dtzxdpxij/image/upload/q_auto/f_auto/v1706034390/user-img/${product.seller.photo}.jpg`}`)
                                            div
                                                p.fw-bold.mb-0= product.seller.name
                                .col-md-2
                                    .editBtnDiv
                                        a(href=`/my-products/${product._id}/edit`)
                                            button.editBtn(for="name")
                                                span
                                                    img.editImg(src='/assets/img/edit-128.png')
                                        a(href=`/products/${product._id}`)
                                            button.editBtn(for="name")
                                                span
                                                    img.editImg(src='/assets/img/link-128.png')
            .pageControl
                .pageInfo
                    p= `Showing ${products.length} products out of ${resultsNumber}`
                .paginateDiv
                    .previousPage
                        img(src='./assets/img/previous-32.png')
                    p#pagesBottom(data-pages=`${resultsNumber}` )
                    .nextPage
                        img(src='./assets/img/next-32.png')
            .add-product
                img.add-product-btn(src='/assets/img/plus-135.png', alt='add product')
                img.add-product-btn-toggled.hidden(src='/assets/img/plus-135-toggled.png', alt='add product')
            .add-product-form-div.hidden
                form.add-product-form(enctype="multipart/form-data")
                        .row(style='margin-bottom: 25px;text-align: left;')
                            .row
                                .col-md-8.text-start
                                    .mb-3
                                        label.form-label(for='seller')
                                            strong= `Seller: `
                            .col-md-12
                                .mb-3
                                    label.form-label(for='name')
                                        strong Product name
                                    input.form-control#create-form--name(type='text', placeholder=``,value=``, name='name', required='')
                                .mb-3
                                    label.form-label(for='price')
                                        strong Starting price (€)
                                    input.form-control#create-form--price(type='number', placeholder=`[00000]`,value=``, name='name', required='')
                                .mb-3
                                    label.form-label(for='description')
                                        strong Description
                                    textarea.form-control#create-form--description(rows="5" cols="60" name="description" placeholder=``, value=``)
                                .mb-3
                                    label.form-label(for='endDate')
                                        strong= `End date: `
                                    br
                                    input#create-form--date(type='date', placeholder=`Enter new date`, name='endDate' required)
                                .mb-3
                                    img.create-product-cover(src=`/products/default-no-img.png`)
                                .mb-3
                                    input.form-control.form-control-sm(type='file', id='coverImage', name='coverImage', accept='image/*')
                                button.btn.btn-primary.btn-sm.btn--create-product(type='submit') Create new product