extends base
block append head 
  link(rel='stylesheet', href='/assets/css/style.css')
block content 
    section.product-section
      .product-container
        .card.text-center.product-card
          .card-header
            ul.nav.nav-tabs.card-header-tabs.card-header-tabs
              li.nav-item
                a.nav-link.active#product(aria-current='true', href='#')= `${product.name}`
              li.nav-item
                a.nav-link#liveBid(href='#')
                  span Live biddings
              li.nav-item
                a.nav-link#checkoutLink(disabled='true', href='#', tabindex='-1') Disabled
          #productContent.card-body.card-flex
            .product-col
              img.product-img(src=`/background_img/${product.coverImage}`)
            .bid-col
              .row.g-3
                .col
                  input.form-control(type='text', aria-label='First name', placeholder='First name')
                .col
                  input.form-control(type='text', aria-label='Last name', placeholder='Last name')
              hr.style-one
              .row.g-3
                .col
                  input.form-control(type='text', aria-label='First name', placeholder='First name')
                .col
                  input.form-control(type='text', aria-label='Last name', placeholder='Last name')
              input.btn.btn-primary(type='submit', value='Add bid')
          #liveBidContent.card-body.none(style='overflow: visible')
            .product-col
              img.product-img(src=`/background_img/${product.coverImage}`)
            .bid-col
              .card-flex-col
                .websocket-background
                  .imessage
                    - console.log(user)
                    each bid in product.bids
                      - if(user.email === bid.bidder)
                        p.from-me #{bid.bidder} 
                          br
                          span Added bid: 
                          strong #{bid.amount}
                      - if(user.email !== bid.bidder)  
                        p.from-them #{bid.bidder} 
                          br
                          span Added bid: 
                          strong #{bid.amount}

                .card-flex.websocket-bid
                  input.websocket-form.form-control(type='text', aria-label='First name', placeholder='Enter amount', style='margin: 0px 5px; padding: 1vh')
                  input.btn.btn-primary(type='submit', value='Add bid 📤')
      hr
      h2 Product details:
      #accordionExample.accordion.product-container.mt-2.mb-4
        .accordion-item
          button.accordion-button.button-margin(type="button", data-bs-toggle="collapse", data-bs-target="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
              strong| Description
          #collapseOne.accordion-collapse.collapse.show(data-bs-parent="#accordionExample")
            .accordion-body= `${product.description}`
        .accordion-item
          button.accordion-button.button-margin.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo")
              strong| Seller
          #collapseTwo.accordion-collapse.collapse(data-bs-parent="#accordionExample")
            .accordion-body 
              img(src=`/img/${product.seller.photo === 'default.png' ? product.seller.photo : product.seller.photo + '.jpg' }`)
              p=`${product.seller.name}`
            
        .accordion-item
          button.accordion-button.button-margin.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseThree", aria-expanded="false", aria-controls="collapseThree")
              strong| Shipping details
          #collapseThree.accordion-collapse.collapse(data-bs-parent="#accordionExample")
            .accordion-body
              strong This is the third item&apos;s accordion body.
              | It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
              code .accordion-body
              | , though the transition does limit overflow.
