extends base

block content
    section.flex-row.profile-section(style='display: flex;')
        aside#sidenav-main.sidenav.navbar.navbar-vertical.navbar-expand-xs.border-0.border-radius-xl.my-3.fixed-left.ms-3(style='position: relative;')
            .sidenav-header
                i.fa.fa-times.p-3.cursor-pointer.text-secondary.opacity-5.position-absolute.right-0.top-0.d-none.d-xl-none
                a.navbar-brand.m-0(href='')
                hr.horizontal.dark.mt-0
                #sidenav-collapse-main.collapse.navbar-collapse.w-auto
                    ul.navbar-nav
                        span.ps-4.ms-2.text-uppercase.text-xs.font-weight-bolder.opacity-6 Account Pages
                        li.nav-item
                            a.nav-link.active(href='')
                                i.fa.fa-user.active.icon.icon-shape.icon-sm.shadow.border-radius-md.bg-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                                span.nav-link-text.ms-1
                                    | Profile
                                    br
                        li.nav-item
                            a.nav-link(href='/my-products')
                                i.fas.fa-box.icon.icon-shape.icon-sm.shadow.border-radius-md.bg-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                                span.nav-link-text.ms-1
                                    | My products
                                    br
        .container-fluid
            h3.text-dark.mb-4 My Profile
            .card.shadow.mb-3
                .card-header.py-3
                    p.text-primary.m-0.fw-bold User Settings
                .card-body
                    form.user-data
                        .row(style='margin-bottom: 25px;text-align: left;')
                            .col-sm-4.col-md-4.col-lg-3.col-xl-2.col-xxl-2(style='display: inline;text-align: center;margin-bottom: 25px;')
                                img.rounded-circle.mb-3.mt-4.img-fluid(src=`${user.photo === 'default.png' ? 'img/default.png' :`https://res.cloudinary.com/dtzxdpxij/image/upload/q_auto/f_auto/v1706034390/user-img/${user.photo}.jpg`}`, style='display: inline;max-height: 110px;')
                                br
                                input.form-control.form-control-sm(type='file', accept='image/*', id="photo", name='photo') 
                            .col-sm-8.col-md-8.col-lg-9.col-xl-10.col-xxl-10.align-self-center
                                .row
                                    .col-md-8.text-start
                                        .mb-3
                                            label.form-label(for='email')
                                                strong Email Address
                                            input#email.form-control(type='email',value=`${user.email}`, placeholder=`${user.email}`, name='email', required='')
                            .col-md-12
                                .mb-3
                                    label.form-label(for='name')
                                        strong Name
                                    input.form-control(type='text',id='name', placeholder=`${user.name}`,value=`${user.name}`, name='name', required='')
                            //- .col-md-6
                            //-     .mb-3
                            //-         label.form-label(for='country')
                            //-             strong Country
                            //-         select#countryId.form-select.countries.order-alpha.limit-pop-1000000.presel-MX.group-continents.group-order-na(name='country', required='')
                            //- .col-md-6
                            //-     .mb-3
                            //-         label.form-label(for='city')
                            //-             strong State
                            //-         select#stateId.form-select.states.order-alpha(name='state', required='')
                            //- .col-md-6
                            //-     .mb-3
                            //-         label.form-label(for='city')
                            //-             strong City
                            //-         input#cityId.form-control(type='text', placeholder='Los Angeles', name='city', required='')
                            //- .col-md-6
                            //-     .mb-3
                            //-         label.form-label(for='address')
                            //-             strong Address
                            //-         input.form-control(type='text', placeholder='Sunset Blvd, 38', name='address')
                            .col-md-12(style='text-align: right;margin-top: 5px;')
                                button#submitBtn.btn.btn-primary.btn-sm.btn--save-data(type='submit') Save Changes
                    form.change-password
                        .row(style='margin-bottom: 25px;text-align: left;')
                            .col-md-6.text-start
                                .mb-3
                                    label.form-label(for='password')
                                        strong Current Password
                                    input#password-current.form-control(type='password', placeholder='Current Password')
                            .col-md-6.text-start
                                .mb-3
                                    label.form-label(for='newPassword')
                                        strong New Password
                                    input#password.form-control(type='password', placeholder='New Password')
                            .col-md-6.text-start
                                .mb-3
                                    label.form-label(for='confirmPassword')
                                        strong Confirm Password
                                    input#password-confirm.form-control(type='password', placeholder='Confirm new password')
                            .col
                                p#emailErrorMsg.text-danger(style='display:none;')
                                p#passwordErrorMsg.text-danger(style='display:none;')
                            .col-md-12(style='text-align: right;margin-top: 5px;')
                                button#submitBtn.btn.btn-primary.btn-sm.btn--save-password(type='submit') Change password